{
    "openapi": "3.0.3",
    "info": {
        "title": "Zaprite API",
        "description": "The Zaprite API lets you get and create Orders programmatically to easily integrate the Zaprite Checkout experience into your own website. You can also configure Webhooks to get notified about events on your Zaprite Organization.\u003Cbr/\u003E\u003Cbr/\u003E💡 To test your integration, you can create \u003Ca href=\"https://help.zaprite.com/en/articles/9875022-how-to-test-payments-for-an-api-integration\"\u003EZaprite sandbox Organizations\u003C/a\u003E that let you complete Orders with no real payment.\u003Cbr/\u003E\u003Cbr/\u003E If you have questions or need help integrating with the Zaprite API, please [contact us](https://help.zaprite.com/).",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.zaprite.com"
        }
    ],
    "paths": {
        "/v1/order": {
            "post": {
                "operationId": "order-create",
                "summary": "Create Order",
                "description": "Create a Zaprite Order. You can then send your customer to `checkoutUrl` to pay that Order. Note that Orders are not visible on your Zaprite dashboard until they have received a payment.\u003Cbr/\u003E💡 To test your integration, you can create \u003Ca href=\"https://help.zaprite.com/en/articles/9875022-how-to-test-payments-for-an-api-integration\"\u003EZaprite sandbox Organizations\u003C/a\u003E that let you complete Orders with no real payment.\u003Cbr/\u003E\u003Cbr/\u003EYou can also create an invoice along with the order by providing the `invoice` field with line items. In this case, the order amount will be calculated from the invoice line items.",
                "tags": [
                    "Orders"
                ],
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "amount": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "description": "Amount denominated in currency smallest unit (e.g., cents for USD, satoshis for BTC). Example: `100` for $1.00 USD. Optional only if invoice is provided, in which case the amount will be calculated from invoice line items and amount will be ignored if provided."
                                    },
                                    "currency": {
                                        "type": "string",
                                        "enum": [
                                            "USD",
                                            "USDT",
                                            "BTC",
                                            "LBTC",
                                            "ALL",
                                            "DZD",
                                            "ARS",
                                            "AMD",
                                            "AUD",
                                            "AZN",
                                            "BHD",
                                            "BDT",
                                            "BYN",
                                            "BMD",
                                            "BOB",
                                            "BAM",
                                            "BRL",
                                            "BGN",
                                            "KHR",
                                            "CAD",
                                            "CLP",
                                            "CNY",
                                            "COP",
                                            "CRC",
                                            "HRK",
                                            "CUP",
                                            "CZK",
                                            "DKK",
                                            "DOP",
                                            "EGP",
                                            "EUR",
                                            "GEL",
                                            "GHS",
                                            "GTQ",
                                            "HNL",
                                            "HKD",
                                            "HUF",
                                            "ISK",
                                            "INR",
                                            "IDR",
                                            "IRR",
                                            "IQD",
                                            "ILS",
                                            "JMD",
                                            "JPY",
                                            "JOD",
                                            "KZT",
                                            "KES",
                                            "KWD",
                                            "KGS",
                                            "LBP",
                                            "MKD",
                                            "MYR",
                                            "MUR",
                                            "MXN",
                                            "MDL",
                                            "MNT",
                                            "MAD",
                                            "MMK",
                                            "NAD",
                                            "NPR",
                                            "TWD",
                                            "NZD",
                                            "NIO",
                                            "NGN",
                                            "NOK",
                                            "OMR",
                                            "PKR",
                                            "PAB",
                                            "PEN",
                                            "PHP",
                                            "PLN",
                                            "GBP",
                                            "QAR",
                                            "RON",
                                            "RUB",
                                            "SAR",
                                            "RSD",
                                            "SGD",
                                            "ZAR",
                                            "KRW",
                                            "SSP",
                                            "VES",
                                            "LKR",
                                            "SEK",
                                            "CHF",
                                            "THB",
                                            "TTD",
                                            "TND",
                                            "TRY",
                                            "UGX",
                                            "UAH",
                                            "AED",
                                            "UYU",
                                            "UZS",
                                            "VND"
                                        ]
                                    },
                                    "externalUniqId": {
                                        "type": "string",
                                        "description": "Optionally, you can store your own unique ID for this order. This can be useful for reconciling payments with your own systems."
                                    },
                                    "redirectUrl": {
                                        "type": "string",
                                        "format": "uri",
                                        "description": "Redirect your customer to this URL after they have paid for the order."
                                    },
                                    "redirectIfPending": {
                                        "type": "boolean",
                                        "description": "If true, the customer will be redirected to `redirectUrl` even if the order is still pending (ie. Bitcoin transaction is unconfirmed)."
                                    },
                                    "expiresAt": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "ISO 8601 datetime when this order expires. After this time, the order cannot be paid unless a payment is already in progress."
                                    },
                                    "label": {
                                        "type": "string",
                                        "description": "Will be shown on the checkout page and in Bitcoin on-chain transaction labels."
                                    },
                                    "customCheckoutId": {
                                        "type": "string",
                                        "description": "If you want a custom checkout for specific orders, you can configure a new checkout at https://app.zaprite.com/org/default/checkouts/new"
                                    },
                                    "contactId": {
                                        "type": "string",
                                        "description": "Optionally, you can associate the Order with one of your Zaprite contacts."
                                    },
                                    "sendReceiptToCustomer": {
                                        "type": "boolean",
                                        "default": true,
                                        "description": "Whether to send a receipt email to the customer after successful payment. Defaults to true."
                                    },
                                    "disablePaymentNotifs": {
                                        "type": "boolean",
                                        "description": "Whether to disable payment notifications to organization admins after successful payment. Defaults to false."
                                    },
                                    "customerData": {
                                        "type": "object",
                                        "properties": {
                                            "email": {
                                                "type": "string",
                                                "description": "If set, a payment receipt will be sent to this email upon payment."
                                            },
                                            "name": {
                                                "type": "string"
                                            }
                                        },
                                        "additionalProperties": false
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string",
                                            "maxLength": 1000
                                        },
                                        "description": "Custom metadata for this order. Limited to 50 key-value pairs. Keys must be strings with a maximum length of 255 characters. Values must be strings with a maximum length of 1000 characters."
                                    },
                                    "tags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "maxLength": 32
                                        },
                                        "description": "Add arbitrary tags to easily group and filter Orders in your reports. You can add up to 10 tags, each with a maximum length of 32 characters."
                                    },
                                    "invoice": {
                                        "type": "object",
                                        "properties": {
                                            "title": {
                                                "type": "string",
                                                "maxLength": 255,
                                                "description": "Optional title for the invoice"
                                            },
                                            "number": {
                                                "type": "string",
                                                "maxLength": 255,
                                                "description": "Optional invoice number. If not provided, one will be generated"
                                            },
                                            "date": {
                                                "type": "string",
                                                "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$",
                                                "description": "Invoice date in YYYY-MM-DD format. Defaults to current date"
                                            },
                                            "daysToPay": {
                                                "type": "integer",
                                                "minimum": 0,
                                                "description": "Number of days until payment is due. If not provided, the invoice will show \"DUE ON RECEIPT\""
                                            },
                                            "purchaseOrderNumber": {
                                                "type": "string",
                                                "maxLength": 255,
                                                "description": "Optional purchase order number"
                                            },
                                            "footerNote": {
                                                "type": "string",
                                                "maxLength": 1000,
                                                "description": "Optional note to display at the bottom of the invoice"
                                            },
                                            "lineItems": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "name": {
                                                            "type": "string",
                                                            "minLength": 1,
                                                            "maxLength": 255,
                                                            "description": "Name of the line item"
                                                        },
                                                        "description": {
                                                            "type": "string",
                                                            "maxLength": 1000,
                                                            "description": "Optional description of the line item"
                                                        },
                                                        "quantity": {
                                                            "type": "number",
                                                            "exclusiveMinimum": true,
                                                            "minimum": 0,
                                                            "default": 1,
                                                            "description": "Quantity as a decimal number (e.g., 1.5 for one and a half units). Maximum of 2 decimal places allowed. Defaults to 1 if not provided."
                                                        },
                                                        "unitPrice": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "description": "Price per unit in currency smallest unit (e.g., cents for USD, satoshis for BTC)"
                                                        },
                                                        "taxRateBips": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 10000,
                                                            "default": 0,
                                                            "description": "Tax rate in bips (e.g., 1000 = 10%)"
                                                        },
                                                        "discountRateBips": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "maximum": 10000,
                                                            "default": 0,
                                                            "description": "Discount rate in bips (e.g., 1000 = 10%)"
                                                        },
                                                        "discountAmount": {
                                                            "type": "integer",
                                                            "minimum": 0,
                                                            "default": 0,
                                                            "description": "Fixed discount amount in currency smallest unit (e.g., cents for USD, satoshis for BTC)"
                                                        }
                                                    },
                                                    "required": [
                                                        "name",
                                                        "unitPrice"
                                                    ],
                                                    "additionalProperties": false
                                                },
                                                "minItems": 1,
                                                "maxItems": 256,
                                                "description": "Line items for the invoice"
                                            }
                                        },
                                        "required": [
                                            "lineItems"
                                        ],
                                        "additionalProperties": false,
                                        "description": "Optional invoice data. If provided, an invoice will be created for this order, and the order amount will be calculated from invoice line items. You must provide a `contactId` when creating an invoice."
                                    }
                                },
                                "required": [
                                    "currency"
                                ],
                                "additionalProperties": false
                            },
                            "example": {
                                "amount": 100,
                                "currency": "USD",
                                "externalUniqId": "abc123",
                                "redirectUrl": "https://example.com",
                                "expiresAt": "2024-03-25T11:04:09.656Z",
                                "label": "Label for the order",
                                "metadata": {
                                    "custom_id": "12345",
                                    "customer_reference": "ABC123"
                                }
                            }
                        }
                    }
                },
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "orgId": {
                                            "type": "string",
                                            "description": "Id of the Zaprite organization that created this order"
                                        },
                                        "orderType": {
                                            "type": "string",
                                            "enum": [
                                                "invoice",
                                                "paymentLink",
                                                "pos",
                                                "wooCommerce",
                                                "other"
                                            ]
                                        },
                                        "totalAmount": {
                                            "type": "integer",
                                            "description": "Total amount to be paid by the customer in currency smallest unit (e.g. cents or sats)"
                                        },
                                        "currency": {
                                            "type": "string",
                                            "enum": [
                                                "USD",
                                                "USDT",
                                                "BTC",
                                                "LBTC",
                                                "ALL",
                                                "DZD",
                                                "ARS",
                                                "AMD",
                                                "AUD",
                                                "AZN",
                                                "BHD",
                                                "BDT",
                                                "BYN",
                                                "BMD",
                                                "BOB",
                                                "BAM",
                                                "BRL",
                                                "BGN",
                                                "KHR",
                                                "CAD",
                                                "CLP",
                                                "CNY",
                                                "COP",
                                                "CRC",
                                                "HRK",
                                                "CUP",
                                                "CZK",
                                                "DKK",
                                                "DOP",
                                                "EGP",
                                                "EUR",
                                                "GEL",
                                                "GHS",
                                                "GTQ",
                                                "HNL",
                                                "HKD",
                                                "HUF",
                                                "ISK",
                                                "INR",
                                                "IDR",
                                                "IRR",
                                                "IQD",
                                                "ILS",
                                                "JMD",
                                                "JPY",
                                                "JOD",
                                                "KZT",
                                                "KES",
                                                "KWD",
                                                "KGS",
                                                "LBP",
                                                "MKD",
                                                "MYR",
                                                "MUR",
                                                "MXN",
                                                "MDL",
                                                "MNT",
                                                "MAD",
                                                "MMK",
                                                "NAD",
                                                "NPR",
                                                "TWD",
                                                "NZD",
                                                "NIO",
                                                "NGN",
                                                "NOK",
                                                "OMR",
                                                "PKR",
                                                "PAB",
                                                "PEN",
                                                "PHP",
                                                "PLN",
                                                "GBP",
                                                "QAR",
                                                "RON",
                                                "RUB",
                                                "SAR",
                                                "RSD",
                                                "SGD",
                                                "ZAR",
                                                "KRW",
                                                "SSP",
                                                "VES",
                                                "LKR",
                                                "SEK",
                                                "CHF",
                                                "THB",
                                                "TTD",
                                                "TND",
                                                "TRY",
                                                "UGX",
                                                "UAH",
                                                "AED",
                                                "UYU",
                                                "UZS",
                                                "VND"
                                            ]
                                        },
                                        "externalUniqId": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "status": {
                                            "type": "string",
                                            "enum": [
                                                "PENDING",
                                                "PROCESSING",
                                                "PAID",
                                                "OVERPAID",
                                                "UNDERPAID",
                                                "COMPLETE"
                                            ],
                                            "description": "`PENDING`: The order is pending payment\u003C/br\u003E`PROCESSING`: The order received a payment but the transaction is still pending (ie. an on-chain transaction with 0 conf or manual bank transfer awaiting manual confirmation)\u003C/br\u003E`PAID`: The order was paid but it requires manual fulfillment to be flagged as `COMPLETE`\u003C/br\u003E`COMPLETE`: The order was paid and is complete\u003C/br\u003E`OVERPAID`: The order received a payment that was more than the total amount\u003C/br\u003E`UNDERPAID`: The order received a payment that was less than the total amount"
                                        },
                                        "paidAt": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "Date in ISO 8601 format (e.g. \"2021-01-01T00:00:00.000Z\"). `null` until the order is paid."
                                        },
                                        "expiresAt": {
                                            "type": "string",
                                            "nullable": true,
                                            "description": "Date in ISO 8601 format when this order expires. After this time, the order cannot be paid."
                                        },
                                        "redirectUrl": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "label": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "checkoutUrl": {
                                            "type": "string",
                                            "format": "uri",
                                            "description": "Send your customer to this URL to complete the payment"
                                        },
                                        "receiptPdfUrl": {
                                            "type": "string",
                                            "format": "uri",
                                            "nullable": true,
                                            "description": "URL to download the Order receipt PDF. `null` until the order is paid."
                                        },
                                        "customCheckoutId": {
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "contact": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "legalName": {
                                                    "type": "string"
                                                },
                                                "contactName": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "displayName": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email",
                                                    "nullable": true
                                                },
                                                "taxId": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "billingAddress": {
                                                    "type": "object",
                                                    "properties": {
                                                        "line1": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "line2": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "zipCode": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "city": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "state": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "countryCode": {
                                                            "type": "string",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "required": [
                                                        "line1",
                                                        "line2",
                                                        "zipCode",
                                                        "city",
                                                        "state",
                                                        "countryCode"
                                                    ],
                                                    "additionalProperties": false,
                                                    "nullable": true
                                                },
                                                "paymentProfiles": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "externalId": {
                                                                "type": "string"
                                                            },
                                                            "method": {
                                                                "type": "string"
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "expiresAt": {
                                                                "type": "string",
                                                                "nullable": true,
                                                                "description": "Date in ISO 8601 format (e.g. \"2021-01-01T00:00:00.000Z\")"
                                                            },
                                                            "connection": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "label": {
                                                                        "type": "string"
                                                                    },
                                                                    "pluginSlug": {
                                                                        "type": "string"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "label",
                                                                    "pluginSlug",
                                                                    "id"
                                                                ],
                                                                "additionalProperties": false
                                                            },
                                                            "sourceOrder": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "externalUniqId": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "externalUniqId"
                                                                ],
                                                                "additionalProperties": false,
                                                                "nullable": true,
                                                                "description": "The Order that your customer was paying when saving this payment profile."
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "externalId",
                                                            "method",
                                                            "label",
                                                            "expiresAt",
                                                            "connection",
                                                            "sourceOrder"
                                                        ],
                                                        "additionalProperties": false
                                                    },
                                                    "description": "Saved payment profiles for this contact. Can be used to pay Orders with the `charge` endpoint."
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "legalName",
                                                "contactName",
                                                "displayName",
                                                "email",
                                                "taxId",
                                                "billingAddress",
                                                "paymentProfiles"
                                            ],
                                            "additionalProperties": false,
                                            "description": "Optional Zaprite contact associated with this order",
                                            "nullable": true
                                        },
                                        "invoice": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "number": {
                                                    "type": "string",
                                                    "description": "Invoice number, displayed on the invoice page and PDF"
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "orgId": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "DRAFT",
                                                        "SENT",
                                                        "PAID",
                                                        "OVERPAID",
                                                        "UNDERPAID"
                                                    ]
                                                },
                                                "footerNote": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "daysToPay": {
                                                    "type": "integer",
                                                    "nullable": true,
                                                    "description": "Natural days from invoice date before the invoice is overdue. If null, invoice will be shown as \"DUE ON RECEIPT\""
                                                },
                                                "date": {
                                                    "type": "string",
                                                    "description": "Date of the invoice, displayed on the invoice page and PDF. Format: YYYY-MM-DD"
                                                },
                                                "purchaseOrderNumber": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "hideOrgAddress": {
                                                    "type": "boolean",
                                                    "description": "Organization address is hidden on the public invoice"
                                                },
                                                "hideOrgEmail": {
                                                    "type": "boolean",
                                                    "description": "Organization email is hidden on the public invoice"
                                                },
                                                "hideOrgName": {
                                                    "type": "boolean",
                                                    "description": "Organization name is hidden on the public invoice"
                                                },
                                                "sentAt": {
                                                    "type": "string",
                                                    "nullable": true,
                                                    "description": "Date when the invoice was sent to the customer"
                                                },
                                                "publicUrl": {
                                                    "type": "string",
                                                    "format": "uri",
                                                    "description": "URL to view the public invoice page"
                                                },
                                                "customer": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "legalName": {
                                                            "type": "string"
                                                        },
                                                        "contactName": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "displayName": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "format": "email",
                                                            "nullable": true
                                                        },
                                                        "taxId": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "billingAddress": {
                                                            "type": "object",
                                                            "properties": {
                                                                "line1": {
                                                                    "type": "string",
                                                                    "nullable": true
                                                                },
                                                                "line2": {
                                                                    "type": "string",
                                                                    "nullable": true
                                                                },
                                                                "zipCode": {
                                                                    "type": "string",
                                                                    "nullable": true
                                                                },
                                                                "city": {
                                                                    "type": "string",
                                                                    "nullable": true
                                                                },
                                                                "state": {
                                                                    "type": "string",
                                                                    "nullable": true
                                                                },
                                                                "countryCode": {
                                                                    "type": "string",
                                                                    "nullable": true
                                                                }
                                                            },
                                                            "required": [
                                                                "line1",
                                                                "line2",
                                                                "zipCode",
                                                                "city",
                                                                "state",
                                                                "countryCode"
                                                            ],
                                                            "additionalProperties": false,
                                                            "nullable": true
                                                        },
                                                        "paymentProfiles": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "externalId": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "label": {
                                                                        "type": "string"
                                                                    },
                                                                    "expiresAt": {
                                                                        "type": "string",
                                                                        "nullable": true,
                                                                        "description": "Date in ISO 8601 format (e.g. \"2021-01-01T00:00:00.000Z\")"
                                                                    },
                                                                    "connection": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "label": {
                                                                                "type": "string"
                                                                            },
                                                                            "pluginSlug": {
                                                                                "type": "string"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "label",
                                                                            "pluginSlug",
                                                                            "id"
                                                                        ],
                                                                        "additionalProperties": false
                                                                    },
                                                                    "sourceOrder": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "externalUniqId": {
                                                                                "type": "string",
                                                                                "nullable": true
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "externalUniqId"
                                                                        ],
                                                                        "additionalProperties": false,
                                                                        "nullable": true,
                                                                        "description": "The Order that your customer was paying when saving this payment profile."
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id",
                                                                    "externalId",
                                                                    "method",
                                                                    "label",
                                                                    "expiresAt",
                                                                    "connection",
                                                                    "sourceOrder"
                                                                ],
                                                                "additionalProperties": false
                                                            },
                                                            "description": "Saved payment profiles for this contact. Can be used to pay Orders with the `charge` endpoint."
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "legalName",
                                                        "contactName",
                                                        "displayName",
                                                        "email",
                                                        "taxId",
                                                        "billingAddress",
                                                        "paymentProfiles"
                                                    ],
                                                    "additionalProperties": false,
                                                    "description": "**DEPRECATED:** Use `order.contact` instead",
                                                    "nullable": true
                                                },
                                                "lineItems": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "unitPrice": {
                                                                "type": "integer",
                                                                "description": "Price of the item in currency smallest unit (e.g. cents or sats)"
                                                            },
                                                            "quantity": {
                                                                "type": "number",
                                                                "description": "Quantity of units (Max 2 decimal places)"
                                                            },
                                                            "taxRateBips": {
                                                                "type": "integer",
                                                                "description": "Tax rate in bips (e.g. 1234 for 12.34%)"
                                                            },
                                                            "taxAmount": {
                                                                "type": "integer",
                                                                "description": "In currency smallest unit (e.g. cents or sats)"
                                                            },
                                                            "discountRateBips": {
                                                                "type": "integer",
                                                                "description": "Discount rate in bips (e.g. 1234 for 12.34%)"
                                                            },
                                                            "discountAmount": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "description",
                                                            "unitPrice",
                                                            "quantity",
                                                            "taxRateBips",
                                                            "taxAmount",
                                                            "discountRateBips",
                                                            "discountAmount"
                                                        ],
                                                        "additionalProperties": false
                                                    }
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "number",
                                                "title",
                                                "orgId",
                                                "status",
                                                "footerNote",
                                                "daysToPay",
                                                "date",
                                                "purchaseOrderNumber",
                                                "hideOrgAddress",
                                                "hideOrgEmail",
                                                "hideOrgName",
                                                "sentAt",
                                                "publicUrl",
                                                "customer",
                                                "lineItems"
                                            ],
                                            "additionalProperties": false,
                                            "nullable": true,
                                            "description": "Set only if the order is for a Zaprite invoice (`orderType=\"invoice\"`), `null` otherwise"
                                        },
                                        "paymentLink": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "title"
                                            ],
                                            "additionalProperties": false,
                                            "nullable": true,
                                            "description": "Set only if the order was created from a Payment Link (`orderType=\"paymentLink\"`), `null` otherwise"
                                        },
                                        "transactions": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "date": {
                                                        "type": "string",
                                                        "nullable": true,
                                                        "description": "Date in ISO 8601 format (e.g. \"2021-01-01T00:00:00.000Z\")"
                                                    },
                                                    "amount": {
                                                        "type": "integer",
                                                        "description": "Transaction amount in currency smallest unit (e.g. cents or sats)"
                                                    },
                                                    "currency": {
                                                        "type": "string",
                                                        "enum": [
                                                            "USD",
                                                            "USDT",
                                                            "BTC",
                                                            "LBTC",
                                                            "ALL",
                                                            "DZD",
                                                            "ARS",
                                                            "AMD",
                                                            "AUD",
                                                            "AZN",
                                                            "BHD",
                                                            "BDT",
                                                            "BYN",
                                                            "BMD",
                                                            "BOB",
                                                            "BAM",
                                                            "BRL",
                                                            "BGN",
                                                            "KHR",
                                                            "CAD",
                                                            "CLP",
                                                            "CNY",
                                                            "COP",
                                                            "CRC",
                                                            "HRK",
                                                            "CUP",
                                                            "CZK",
                                                            "DKK",
                                                            "DOP",
                                                            "EGP",
                                                            "EUR",
                                                            "GEL",
                                                            "GHS",
                                                            "GTQ",
                                                            "HNL",
                                                            "HKD",
                                                            "HUF",
                                                            "ISK",
                                                            "INR",
                                                            "IDR",
                                                            "IRR",
                                                            "IQD",
                                                            "ILS",
                                                            "JMD",
                                                            "JPY",
                                                            "JOD",
                                                            "KZT",
                                                            "KES",
                                                            "KWD",
                                                            "KGS",
                                                            "LBP",
                                                            "MKD",
                                                            "MYR",
                                                            "MUR",
                                                            "MXN",
                                                            "MDL",
                                                            "MNT",
                                                            "MAD",
                                                            "MMK",
                                                            "NAD",
                                                            "NPR",
                                                            "TWD",
                                                            "NZD",
                                                            "NIO",
                                                            "NGN",
                                                            "NOK",
                                                            "OMR",
                                                            "PKR",
                                                            "PAB",
                                                            "PEN",
                                                            "PHP",
                                                            "PLN",
                                                            "GBP",
                                                            "QAR",
                                                            "RON",
                                                            "RUB",
                                                            "SAR",
                                                            "RSD",
                                                            "SGD",
                                                            "ZAR",
                                                            "KRW",
                                                            "SSP",
                                                            "VES",
                                                            "LKR",
                                                            "SEK",
                                                            "CHF",
                                                            "THB",
                                                            "TTD",
                                                            "TND",
                                                            "TRY",
                                                            "UGX",
                                                            "UAH",
                                                            "AED",
                                                            "UYU",
                                                            "UZS",
                                                            "VND"
                                                        ]
                                                    },
                                                    "amountInOrderCurrency": {
                                                        "type": "integer",
                                                        "nullable": true,
                                                        "description": "Transaction amount denominated in the currency of the Order and in smallest unit (e.g. cents or sats)"
                                                    },
                                                    "discountsInOrderCurrency": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "amountOff": {
                                                                    "type": "integer",
                                                                    "description": "Amount of the discount denominated in `orderCurrency` and in smallest unit (e.g cents or sats). Negative value means a premium was applied."
                                                                },
                                                                "rateBipsOff": {
                                                                    "type": "integer",
                                                                    "description": "Rate of the discount in bips (e.g. 1234 for 12.34%). Negative value means a premium was applied."
                                                                },
                                                                "paymentType": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "FIAT",
                                                                        "BITCOIN",
                                                                        "LIGHTNING"
                                                                    ],
                                                                    "description": "Type of payments this discount applies to"
                                                                }
                                                            },
                                                            "required": [
                                                                "amountOff",
                                                                "rateBipsOff",
                                                                "paymentType"
                                                            ],
                                                            "additionalProperties": false
                                                        },
                                                        "description": "List premiums and discounts applied to this transaction. Note: The amount retained as payment for the Order is `amountInOrderCurrency + sum(discountsInChargeCurrency.amount)`"
                                                    },
                                                    "orderCurrency": {
                                                        "type": "string",
                                                        "enum": [
                                                            "USD",
                                                            "USDT",
                                                            "BTC",
                                                            "LBTC",
                                                            "ALL",
                                                            "DZD",
                                                            "ARS",
                                                            "AMD",
                                                            "AUD",
                                                            "AZN",
                                                            "BHD",
                                                            "BDT",
                                                            "BYN",
                                                            "BMD",
                                                            "BOB",
                                                            "BAM",
                                                            "BRL",
                                                            "BGN",
                                                            "KHR",
                                                            "CAD",
                                                            "CLP",
                                                            "CNY",
                                                            "COP",
                                                            "CRC",
                                                            "HRK",
                                                            "CUP",
                                                            "CZK",
                                                            "DKK",
                                                            "DOP",
                                                            "EGP",
                                                            "EUR",
                                                            "GEL",
                                                            "GHS",
                                                            "GTQ",
                                                            "HNL",
                                                            "HKD",
                                                            "HUF",
                                                            "ISK",
                                                            "INR",
                                                            "IDR",
                                                            "IRR",
                                                            "IQD",
                                                            "ILS",
                                                            "JMD",
                                                            "JPY",
                                                            "JOD",
                                                            "KZT",
                                                            "KES",
                                                            "KWD",
                                                            "KGS",
                                                            "LBP",
                                                            "MKD",
                                                            "MYR",
                                                            "MUR",
                                                            "MXN",
                                                            "MDL",
                                                            "MNT",
                                                            "MAD",
                                                            "MMK",
                                                            "NAD",
                                                            "NPR",
                                                            "TWD",
                                                            "NZD",
                                                            "NIO",
                                                            "NGN",
                                                            "NOK",
                                                            "OMR",
                                                            "PKR",
                                                            "PAB",
                                                            "PEN",
                                                            "PHP",
                                                            "PLN",
                                                            "GBP",
                                                            "QAR",
                                                            "RON",
                                                            "RUB",
                                                            "SAR",
                                                            "RSD",
                                                            "SGD",
                                                            "ZAR",
                                                            "KRW",
                                                            "SSP",
                                                            "VES",
                                                            "LKR",
                                                            "SEK",
                                                            "CHF",
                                                            "THB",
                                                            "TTD",
                                                            "TND",
                                                            "TRY",
                                                            "UGX",
                                                            "UAH",
                                                            "AED",
                                                            "UYU",
                                                            "UZS",
                                                            "VND"
                                                        ],
                                                        "nullable": true,
                                                        "description": "Currency of the Order this transaction is paying for. For example, when paying an USD invoice in BTC, transaction `currency` would be USD and `orderCurrency` USD."
                                                    },
                                                    "accountingCurrency": {
                                                        "type": "string",
                                                        "enum": [
                                                            "USD",
                                                            "USDT",
                                                            "BTC",
                                                            "LBTC",
                                                            "ALL",
                                                            "DZD",
                                                            "ARS",
                                                            "AMD",
                                                            "AUD",
                                                            "AZN",
                                                            "BHD",
                                                            "BDT",
                                                            "BYN",
                                                            "BMD",
                                                            "BOB",
                                                            "BAM",
                                                            "BRL",
                                                            "BGN",
                                                            "KHR",
                                                            "CAD",
                                                            "CLP",
                                                            "CNY",
                                                            "COP",
                                                            "CRC",
                                                            "HRK",
                                                            "CUP",
                                                            "CZK",
                                                            "DKK",
                                                            "DOP",
                                                            "EGP",
                                                            "EUR",
                                                            "GEL",
                                                            "GHS",
                                                            "GTQ",
                                                            "HNL",
                                                            "HKD",
                                                            "HUF",
                                                            "ISK",
                                                            "INR",
                                                            "IDR",
                                                            "IRR",
                                                            "IQD",
                                                            "ILS",
                                                            "JMD",
                                                            "JPY",
                                                            "JOD",
                                                            "KZT",
                                                            "KES",
                                                            "KWD",
                                                            "KGS",
                                                            "LBP",
                                                            "MKD",
                                                            "MYR",
                                                            "MUR",
                                                            "MXN",
                                                            "MDL",
                                                            "MNT",
                                                            "MAD",
                                                            "MMK",
                                                            "NAD",
                                                            "NPR",
                                                            "TWD",
                                                            "NZD",
                                                            "NIO",
                                                            "NGN",
                                                            "NOK",
                                                            "OMR",
                                                            "PKR",
                                                            "PAB",
                                                            "PEN",
                                                            "PHP",
                                                            "PLN",
                                                            "GBP",
                                                            "QAR",
                                                            "RON",
                                                            "RUB",
                                                            "SAR",
                                                            "RSD",
                                                            "SGD",
                                                            "ZAR",
                                                            "KRW",
                                                            "SSP",
                                                            "VES",
                                                            "LKR",
                                                            "SEK",
                                                            "CHF",
                                                            "THB",
                                                            "TTD",
                                                            "TND",
                                                            "TRY",
                                                            "UGX",
                                                            "UAH",
                                                            "AED",
                                                            "UYU",
                                                            "UZS",
                                                            "VND"
                                                        ],
                                                        "nullable": true,
                                                        "description": "The is the currency configured for your Organization"
                                                    },
                                                    "amountInAccountingCurrency": {
                                                        "type": "integer",
                                                        "nullable": true,
                                                        "description": "Transaction amount denominated in accounting currency and in smallest unit (e.g. cents or sats)"
                                                    },
                                                    "method": {
                                                        "type": "string",
                                                        "enum": [
                                                            "BITCOIN",
                                                            "LIQUID",
                                                            "LIGHTNING",
                                                            "BANK",
                                                            "CARD",
                                                            "CASH",
                                                            "CHECK",
                                                            "GIFTCARD",
                                                            "COUPON",
                                                            "APPLEPAY",
                                                            "GOOGLEPAY",
                                                            "CASHAPP_PAY",
                                                            "INTERAC",
                                                            "ACH",
                                                            "SEPA",
                                                            "UNKNOWN",
                                                            "WIRE_TRANSFER",
                                                            "VENMO",
                                                            "PAYPAL",
                                                            "NO_CHARGE",
                                                            "TETHER"
                                                        ]
                                                    },
                                                    "externalRef": {
                                                        "type": "string",
                                                        "nullable": true,
                                                        "description": "External reference for the transaction. (e.g. Bitcoin txId, Stripe transaction ID...)"
                                                    },
                                                    "status": {
                                                        "type": "string",
                                                        "enum": [
                                                            "PENDING",
                                                            "CONFIRMED",
                                                            "CANCELED"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "date",
                                                    "amount",
                                                    "currency",
                                                    "amountInOrderCurrency",
                                                    "discountsInOrderCurrency",
                                                    "orderCurrency",
                                                    "accountingCurrency",
                                                    "amountInAccountingCurrency",
                                                    "method",
                                                    "externalRef",
                                                    "status"
                                                ],
                                                "additionalProperties": false
                                            },
                                            "description": "All transactions this Order received"
                                        },
                                        "customerData": {
                                            "type": "object",
                                            "properties": {
                                                "email": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "address": {
                                                    "type": "object",
                                                    "properties": {
                                                        "line1": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "line2": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "zipCode": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "city": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "state": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "countryCode": {
                                                            "type": "string",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "required": [
                                                        "line1",
                                                        "line2",
                                                        "zipCode",
                                                        "city",
                                                        "state",
                                                        "countryCode"
[...]
